*{
    padding: 0;
    margin: 0;
}

button{
    flex-shrink: 0;
}


.container{
    background-color: rgb(255, 251, 251);
    height: 1000px;
}


.top-container{
    background-color: rgb(255, 251, 251);
    height: 78px;                                                                                                
}

.title-font{
    height: 20px;
    width: 20px;
    padding-top: 20.5px;
    padding-left: 78.5px;
}

.right-button {
  position: relative;
    /* height: 200px;
    width: 202px;
    background-color: red; */
}


.btn-container{
    position: relative;
    display: flex;
    gap: 6px;
    left: 1270px;
    height: 60px;
    width: 380px;
    top: -30px;
    background-color: rgb(255, 251, 251);
}

.explore-btn{
    border-radius: 25px;
    height: 50px;
    width: 85px;
    margin-top: 2px;
    font-size: 16px;
    margin-left: 20px;
    padding-left: -3px;
    border:none;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}

.explore-btn:hover{
    background-color: rgb(244, 244, 240);
}

.premit-btn{
    border-radius: 25px;
    height: 50px;
    width: 85px;
    margin-top: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}

.premit-btn:hover{ 
    background-color: rgb(244, 244, 240);
}

.other-btn{
    border-radius: 30px;
    height: 50px;
    width: 48px;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
    border:none;
    margin-left: 3px;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}

.other-btn:hover{
    background-color: rgb(244, 244, 240);
}

.join-btn{
    border-radius: 15px;
    width: 78px;
    height: 50px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white; 
    cursor: pointer;
    position: relative;
    margin-left: 15px;

}

.join-btn:hover{
    filter: brightness(1.8);
    background-color: rgb(35, 35, 35);
}




.explore-wrapper:hover .explore-menu {
    display: block;
}



.explore-menu{
    position: absolute;
    margin-top: 10px;
    margin-left: -40px;
    height: 305px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.1px;
    display: none;
}

.explore-menu button:first-child{
    margin-top: 7px;
}

.explore-menu button{
    display: flex;
    cursor: pointer;
    height: 46px;
    width: 180px;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    padding-left: 13px;
    padding-top: -5px;
    align-items: center;
    gap: 9px;
    background-color: white;
}

.explore-menu button:hover{
    background-color: rgb(244, 244, 240);
}

.other-wapper{
    position:relative;
}

.other-menu{
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 13px;
    margin-left: -91px;
    height: 510px;
    width: 219px;
    border-radius: 16px;
    gap: 3px;
    display: none;
}

.other-wapper:hover .other-menu {
    display: block;
}

.other-menu button:hover{
    background-color: rgb(244, 244, 240);
}

.other-menu button:first-child{
    margin-top: 15px;
}

.other-menu button{
    height: 45px;
    width: 184px;
    cursor: pointer;
    margin-left: 18px;
    border-radius: 11px;
    border: none;
    font-size: 16.8px;
    text-align: left;
    padding: 8px 12px;
    background-color: white;
}



.language-btn{
    margin-top: 28px;
    border-top:1px dashed #ccc;
    border-bottom:1px dashed #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.language-btn i{
    margin-right: 5px;
}

.other-icons{
    display: flex;
    gap:10px;
    align-items: center;
    margin-top: 14px;
    margin-left: 20px;
}

.other-icons button{
    width: auto;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    position: relative;
}

.other-icons button::after{
    content: attr(data-name);
    position:absolute;
    bottom: -40%;
    left: 50%;

    background: white;
    color:black;
    height: 20px;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 4px;
    text-align: center;
    transform: translateX(-50%);
    border:1px solid #333;

    display: flex;              /* 🔥关键 */
    align-items: center;        /* 垂直居中 */
    justify-content: center;    /* 水平居中 */

    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.other-icons button:has(i:hover)::after {
    opacity: 1;
}

.other-icons i{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 20px;
}



.fa-camera {
    transform: translateY(-6px);
}

.other-icons button:hover{
    background: none;
    color: inherit;
    border: none;
}

.other-icons button:hover i {
    color: #aaa; /* hover变浅 */
}





