*{
    padding: 0;
    margin: 0;
}


.container{
    background-color: rgb(218, 187, 187);
    height: 1000px;
}


.top-container{
    background-color: rgb(255, 251, 251);
    height: 100px;
}

.title-font{
    height: 20px;
    width: 20px;
    padding-top: 20.5px;
    padding-left: 78.5px;
}

.right-button {
  position: relative;
    /* height: 200px;
    width: 202px;
    background-color: red; */
}


.btn-container{
    position: relative;
    display: flex;
    gap: 6px;
    left: 1270px;
    height: 60px;
    width: 380px;
    top: -30px;
    background-color: rgb(255, 251, 251);
}

.explore-btn{
    border-radius: 25px;
    height: 50px;
    width: 78px;
    margin-top: 2px;
    font-size: 16px;
    margin-left: 20px;
    padding-left: -3px;
    border:none;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}

.explore-btn:hover{
    background-color: rgb(244, 244, 240);
}

.premit-btn{
    border-radius: 25px;
    height: 50px;
    width: 78px;
    margin-top: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}

.premit-btn:hover{ 
    background-color: rgb(244, 244, 240);
}

.other-btn{
    border-radius: 30px;
    height: 50px;
    width: 48px;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
    border:none;
    margin-left: 3px;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}

.other-btn:hover{
    background-color: rgb(244, 244, 240);
}

.join-btn{
    border-radius: 15px;
    width: 78px;
    height: 50px;
    margin-top: 2px;
    font-size: 16px;
    margin-left: 18px;
    border: none;
    background-color: black;
    color: white; 
    cursor: pointer;

}

.join-btn:hover{
    filter: brightness(1.8);
    background-color: rgb(35, 35, 35);
}



.explore-menu{
    position: relative;
    margin-top: 10px;
    margin-left: -40px;
    height: 305px;
    width: 200px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.1px;
}

.explore-menu button:first-child{
    margin-top: 7px;
}

.explore-menu button{
    display: flex;
    cursor: pointer;
    height: 46px;
    width: 180px;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    padding-left: 13px;
    padding-top: -5px;
    align-items: center;
    gap: 9px;
}




.other-list{
    visibility: hidden;
}


